<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
    <bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.cj.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost/EzPay" />
		<property name="username" value="root" />
		<property name="password" value="Gunnerozil11" />
	</bean>
	
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource" />

	</bean>
	
	<bean id="accountDao" class="wallet.crud.AccountDAOImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate"/>
	</bean>
	
		<bean id="accountAop" class="wallet.aop.AccountAop" />

	<aop:aspectj-autoproxy />
	<aop:config>
		<aop:aspect id="accountAop" ref="accountAop">
			<aop:pointcut id="pointCutBefore"
				expression="execution (* wallet.crud.AccountDAO.createAccount(wallet.model.Account))" />
			<aop:before method="beforeCreateAccount" pointcut-ref="pointCutBefore" />
		</aop:aspect>
	</aop:config>
    
    </beans>